.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #F5DAD8 ,#E5E3D6 );
}

.login-container{
    gap: 20px;
    background-color: white;
    height: 50%;
    width:  500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.judul{
    position: relative;
    bottom: 50px;
    width: 150px;
    background-color: red;
    height: 150px;    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.judul svg{
    color: white;
    width: 100px;
}


.input{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input div{
    background-color: #E5E5E5;
    position: relative;
    bottom: 35px;
    display: flex;
    width: 400px;
    gap: 20px;
    border-radius: 20px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.input div input{
    width: 300px;
    height: 50px;
    background-color: #E5E5E5;
    border: none;
}

.input div input:focus{
    outline: none;
    caret-color: red;
}

.input div label{
    display: flex;
    text-align: end;
    width: 35px;
}

.submit{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin: auto;
    position: relative;
    bottom: 20px;
    font-size: large;
    border: none;
    color: white;
    background-color: red;
}

