.navbar{
    padding: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    rotate: 20deg;
    height: 50px;
    background-color: red;
}

.logo-name{
    rotate: -20deg;
}

.items{
    display: flex;
    gap: 10px;
    font-weight: bold;

    font-size: 12px;
}

.item{
    cursor: pointer;
    font-size: larger;
    padding: 20px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border:none;
    background-color: white;
}

.login{
    cursor: pointer;
    font-size: larger;
    padding: 20px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.login:hover{
    background-color: red;
    color: white;
    transition: all ease 500ms;
}

.item:hover{
    background-color: red;
    color: white;
    transition: all ease 500ms;
}

