.container-manual{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container{
    gap: 20px;
    background-color: white;
    height: 40%;
    width:  500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-items{
    width: 100%;
}
.profile-item{
    position: relative;
    bottom: 60px;
    width: 100%;
    /* padding: px; */
    padding-left: 40px;
    padding-right: 40px;
    /* gap: 20px; */
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.value{
    /* font-weight: bold; */
    color: #79808B;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.img-container{
    position: relative;
    bottom: 30px;
    width: 150px;
    background-color: red;
    height: 150px;    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
